<div class="container overflow-auto">
    <div class="row">
        <div class="col-md-6 mx-auto">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Sin Despachar</h5>
                    <h6 class="card-subtitle mb-2 text-muted">Cliente: {{ info.co_nombre }} </h6>
                    <div class="form-row">
                        <div class="col-auto">
                            <div id="padre">
                                <img id="content_div_one_photo" class="img-fluid card-img"  src="/img/foot.png">
                                <div class="image-title">{{ info.co_centimetros }} cms</div>
                                <div class="image-title2">{{ info.co_ancho }} cms</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title"></h5>
                    <h6 class="card-subtitle mb-2 text-muted">De acuerdo con las medidas la talla es: </h6>
                    <div class="form-row">
                        <div class="col-auto">
                            <table class="table table-responsive">
                                <thead>
                                    <tr>
                                        <th>Numeracion </th>
                                        <th>Talla</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>BRA</td>
                                        <td>42.5</td>
                                    </tr>
                                    <tr>
                                        <td>EUR</td>
                                        <td>43  </td>
                                    </tr>
                                    <tr>
                                        <td>USA</td>
                                        <td>11.5</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>