<div class="container p-12">
    <div class="row">
        <div class="col-md-12 mx-auto">

            <div class="card">
                <div class="card-body">
                    <div class="card-header">
                        <h2>GUIA DE TALLAS CALZADO NEW BALANCE COLOMBIA</h2>
                    </div>
                    <h5 class="card-title bg-warning">HOMBRE</h5>
                    <div class="form-row">
                        <table class="table">
 
                        <thead>
                      
                          <tr>
                      
                            <th>USA(M)</th>
                            <th>6</th>
                            <th>6.5</th>
                            <th>7</th>
                            <th>7.5</th>
                            <th>8</th>
                            <th>8.5</th>
                            <th>9</th>
                            <th>9.5</th>
                            <th>10</th>
                            <th>10.5</th>
                            <th>11</th>
                            <th>11.5</th>
                            <th>12</th>
                            <th>13</th>
                          </tr>
                      
                        </thead>
                        <tbody>
                          <tr>
                              <th scope="row">CM</th>
                              <td>24</td>
                              <td>24.5</td>
                              <td>25</td>
                              <td>25.5</td>
                              <td>26</td>
                              <td>26.5</td>
                              <td>27</td>
                              <td>27.5</td>
                              <td>28</td>
                              <td>28.5</td>
                              <td>29</td>
                              <td>29.5</td>
                              <td>30</td>
                              <td>31</td>
                          </tr> 
                          <tr>
                            <th scope="row">COL</th>
                              <td>36.5</td>
                              <td>37</td>
                              <td>37.5</td>
                              <td>38</td>
                              <td>39</td>
                              <td>39.5</td>
                              <td>40</td>
                              <td>41</td>
                              <td>41.5</td>
                              <td>42</td>
                              <td>43</td>
                              <td>43.5</td>
                              <td>44</td>
                              <td>45</td>
                          </tr>
                        </tbody>
                      </table>

                    </div>
                    
                    <div class="card-footer text-muted">
                        
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-body">
                    <div class="card-header">
              
                    </div>
                    <h5 class="card-title bg-danger">MUJERES</h5>
                    <div class="form-row">
                        <table class="table">
 
                        <thead>
                      
                          <tr>
                      
                            <th>USA(M)</th>
                            <th>6</th>
                            <th>6.5</th>
                            <th>7</th>
                            <th>7.5</th>
                            <th>8</th>
                            <th>8.5</th>
                            <th>9</th>
                            <th>9.5</th>
                            <th>10</th>
                            <th>10.5</th>
                            <th>11</th>
                            <th>11.5</th>
                            <th>12</th>
                            <th>13</th>
                          </tr>
                      
                        </thead>
                        <tbody>
                          <tr>
                              <th scope="row">CM</th>
                              <td>24</td>
                              <td>24.5</td>
                              <td>25</td>
                              <td>25.5</td>
                              <td>26</td>
                              <td>26.5</td>
                              <td>27</td>
                              <td>27.5</td>
                              <td>28</td>
                              <td>28.5</td>
                              <td>29</td>
                              <td>29.5</td>
                              <td>30</td>
                              <td>31</td>
                          </tr> 
                          <tr>
                            <th scope="row">COL</th>
                              <td>36.5</td>
                              <td>37</td>
                              <td>37.5</td>
                              <td>38</td>
                              <td>39</td>
                              <td>39.5</td>
                              <td>40</td>
                              <td>41</td>
                              <td>41.5</td>
                              <td>42</td>
                              <td>43</td>
                              <td>43.5</td>
                              <td>44</td>
                              <td>45</td>
                          </tr>
                        </tbody>
                      </table>

                    </div>
                    
                    <div class="card-footer text-muted">
                        
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>